.container {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
    gap: 20px; 
}

.grid {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f8dada; 
    border-radius: 10px;
}
 
.grid1 {
    grid-template-columns: repeat(1, 1fr);
    width: 350px;
    margin: 10px;
    padding: 10px;
}
 
.grid2 {
    grid-template-columns: repeat(1, 1fr);
    width: 350px;
    margin: 10px;
    padding: 10px;
}
 
.grid3 {
    grid-template-columns: repeat(1, 1fr);
    width: 350px;
    margin: 10px;
    padding: 10px;
}
 
.grid4 {
    grid-template-columns: repeat(1, 1fr);
    width: 350px;
    margin: 10px;
    padding: 10px;
}