.container {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.container div {
  background-color: white;
  border: 2px dashed pink;
  width: 250px;
  margin: 5px;
  padding: 5px;
  text-align: left;  
  font-family: Monospace;
  font-size: 15px;
}
