body {
    font-family: monospace;
    background-color: #ffe6f0; /* soft pink background */
    color: #5c4033; /* brownish-beige text */
    margin: 0;
    padding: 0;
}
 
header {
    background-color: #f5e0d6; /* beige header */
    text-align: center;
    padding: 20px;
}
 
h1 {
    margin: 0;
}
 
.container {
    padding: 20px;
}

img {
  width: 10px;
  height: auto;
}